*{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#heightInputAlt{
    display: none;
    padding: 0;
    margin: 0 16px;
}


#heightInputAlt select{
    width: 70px;
    height: 24px;
    margin: 0 4px;
   
}

body{
    background-color:darkslategrey;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    padding-top: 50px;
    color: azure;
}

h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}

input{
    margin: 0 6px;
    height: 20px;

}



.placeholder {
    color: #7c7c7c; /* Grayish color */
}


select option[disabled] {
    color: #888; /* Placeholder color*/
  }
select option{
    color: black;
}

.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
}
.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 60px auto;
    max-width: 320px;
    text-align: center;
}

.card h2 {
    margin-top: 0;
}

.card p {
    color: #666;
}

.field{
    display: flex;
    align-items: center;
    margin-left: -18px;
}
